@import "_grid.scss";
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700');


.container {
  width: 70%;
  margin: 0 auto;
}

//logo strony

.logo a {
  color: deeppink;
  text-decoration: none;
}
.logo a:visited  {
  color: deeppink;
  text-decoration: none;
}

.logo {
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  font-size: 70px;
  color: deeppink;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

//style dla pojedynczego postu

.singleJoke {
  border-top: 1px solid deeppink;
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
  margin-top: 30px;

}

.fb-like {
  margin-left: 70%;

}

//menu

.nav {
  margin-left: -200px;
  //border: 1px solid red ;
  transition: all 1s;
}

.nav li {
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  margin-left: 5px;
  margin-bottom: 15px;
  margin-top: 5px;
  list-style: none;
}

.nav a:visited  {
    color: gray; /* blue colors for links too */
    text-decoration: inherit; /* no underline */

}

.nav a {
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}

.navShow {
  margin-left: 10px;
  transition: all 1s;
}

//ikona menu animacja hamburgera
.navIcon {
  width: 50px;
  height: 50px;
  display: inline-block;
  padding-top: 10px;
  padding-left: 20px;
}

.hamburger1, .hamburger2, .hamburger3 {
  width: 35px;
  height: 5px;
  background-color: deeppink;
  margin: 6px 0;
  transition: 0.4s;
}

.change .hamburger1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .hamburger2 {opacity: 0;}

.change .hamburger3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

//style dla formularza
.usp-input {
  border: 2px solid deeppink;
  width: 100%;
  font-size: 25px;
  font-family: 'Amatic SC', cursive;
}

.usp-textarea {
  border: 2px solid deeppink;
  width: 100%;
  font-size: 25px;
  font-family: 'Amatic SC', cursive;;
}

label {
  font-size: 40px;
  font-family: 'Amatic SC', cursive;
}

.usp-content {
  font-size: 40px;
}

div#user-submitted-posts fieldset label {
  box-sizing: border-box; display: block; float: none; clear: both; width: 80%;  margin: 0; padding: 0; border: 0; font-size: 40px; }

.usp-clone {
  border: none;
}

.usp-submit {
  background-color: deeppink;
  opacity: 0.8;
  border-radius: 25px 25px;
  width: 180px;
  height: 60px;
}

.usp-submit:hover {
  box-shadow: 8px 8px 8px 0 rgba(0,0,0,0.24), 0 10px 25px 0 rgba(0,0,0,0.19);
}
.usp-submit:active {
  box-shadow: 6px 6px 8px 0 rgba(0, 0, 0, 0.24), 0 8px 25px 0 rgba(0, 0, 0, 0.19);
}

//style dla wyszukiwarki

.screen-reader-text {
  font-size: 20px;



}

#s {
  font-size: 20px;
  font-family: 'Amatic SC', cursive;
  display: flex;
  justify-content: center;
  margin: 0;
}

.col-3-6 {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  border-top: 2px solid deeppink;
}

.searchStyle {
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  color: deeppink;
}